{% extends "::base.html.twig" %}

{% block body %}
    <h1>Workout list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Ante</th>
                <th>Buy_in</th>
                <th>Cash_out</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('workout_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.ante }}</td>
                <td>{{ entity.buyin }}</td>
                <td>{{ entity.cashout }}</td>
                <td>
                    <a href="{{ path('workout_show', { 'id': entity.id }) }}" class="btn secondary">show</a>
                    <a href="{{ path('workout_edit', { 'id': entity.id }) }}" class="btn success">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="actions">
        <a href="{{ path('workout_new') }}" class="btn primary">
            Create a new entry
        </a>
    </div>
{% endblock %}